<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>{{title}}</title>
	    <meta charset="utf-8">
	    <meta name="format-detection" content="telephone=no" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="icon" href="/images/favicon_icon.ico" type="image/x-icon">
	    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="/css/style.css">
	    {% block stylesheets %} {% endblock %}

	    {% block topScripts %}
	    {% endblock %}
	</head>
	<body>
		{% block body %}

		{% endblock %}

		<script src="/js/pouchdb.min.js"></script>
		<script src="//mozilla.github.io/nunjucks/files/nunjucks.min.js"></script>
		{% block scripts %}
		{% endblock %}
	</body>
</html>